<div class="content_margin">
<h1>Editing <%= @category.name %></h1>
<%= form_for @category do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :name %>
    <%= f.submit 'Update' %>
<% end %>
</div>